div.erc721 {
  width: 430px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 3%);
  border-radius: 24px;
  
  div.fileField {
    border: 2px dashed #dedede;
    background-color: #ffffff;
    padding-block: 30px;
    border-radius: 12px;

    p.supportedFiles {
      text-align: center;
      margin-bottom: 18px;
      font-weight: 500;
      color: #879292;
    }

    label {
      display: flex;
      align-items: center;
      width: fit-content;
      margin: 0 auto;
      padding: 10px 20px;
      border-radius: 50px;
      background-color: #00b88d27;
      box-shadow: 0 0 15px 0 rgb(0 0 0 / 3%);
      color: #00b88d;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: 0.1s ease;

      i {
        font-size: 12px;
        margin-right: 6px;
      }

      &:hover { opacity: 0.9; }

      &:active { transform: scale(0.95); }
    }

    input.fileUpload { display: none; }
  } // div.fileField

  div.fileErrorMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #fc26263a;
    color: #e01a1a;
    font-size: 13px;
    border: 1px solid #e01a1a;
    border-radius: 2px;
    padding: 10px;

    i {
      font-size: 16px;
      cursor: pointer;

      &:active {
        transform: scale(0.96);
      }
    }
  }

  div.imgPreview {
    position: relative;

    img {
      width: 100%;
      border-radius: 12px;
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #fc26265a;
      color: #e01a1a;
      font-size: 13px;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      cursor: pointer;
      user-select: none;
      transition: 0.1s ease;

      &:active {
        transform: scale(0.95);
      }
    }
  } // div.imgPreview

  div.inputField {
    margin-block: 20px;

    p.header {
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 4px;
    }

    input,
    textarea {
      border: 1px solid #eeeeee;
      border-radius: 12px;
      padding: 10px;
      width: 100%;

      &:focus { 
        outline: none; 
        border: 1px solid #00b88d;
        box-shadow: 0 0 0 3px #00b88d40;
        transition: 0.2s ease;
      }
    }

    textarea {
      height: 100px;
      min-height: 100px;
      max-height: 200px;
      min-width: 100%;
      max-width: 100%;
    }
  } // div.inputField

  div.disclaimer {

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 10px;
    }
  } // div.disclaimer

  div.mintBTN {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    padding-block: 16px;
    border-radius: 12px;
    color: #00b88d;
    background-color: #00b88d27;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 3%);
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: 0.1s ease;

    i {
      font-size: 14px;
      margin-right: 8px;

      &.spinner {
        -webkit-animation: spin 1.5s linear infinite;
        -moz-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
      }
    }

    &:active { transform: scale(0.95); }
  } // div.mintBTN
}


// Keyframes
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  div.erc721 {
    width: 90%;
  }
}