div.user {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 14px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 3%);
  user-select: none;
  cursor: pointer;
  transition: 0.1s ease;

  &:hover { filter: brightness(0.98); }
  
  p.index {
    font-weight: 500;
    margin-right: 10px;
    color: #808080;
  }

  div.img {
    position: relative;

    div.imgInside {
      width: 48px;
      height: 48px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: 1px solid #ffffff;
    }

    div.badge {
      position: absolute;
      bottom: 0px;
      right: 0px;
      color: #feda03;
    }
  }

  div.info {
    padding-inline: 10px 20px;

    p.name {
      font-weight: 600;
      font-size: 17px;
    }

    p.spentBNB {
      font-weight: 500;
      font-size: 14px;
      color: #808080;
    }
  }
}