div.id {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 90vh;
  overflow: hidden;

  div.img {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      position: relative;
      border-radius: 6px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 90%;
      height: 65%;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #1a7ae0;
        background-color: #268dfc3a;
        width: 40px;
        height: 35px;
        cursor: pointer;
        transition: 0.1s ease;

        &:active { transform: scale(0.95); }
      }
    }
  } // div.img

  div.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

    div.top {

      p.name {
        font-size: 30px;
        font-weight: 600;
      }

      div.likes {
        width: fit-content;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #dedede;
        padding: 5px 11px;
        border-radius: 100px;
        cursor: pointer;
        user-select: none;
        transition: 0.1s ease;

        &.liked {
          border: 1px solid #e91111;
          background-color: #e91111;
          color: #ffffff;

          i {
            color: #ffffff;
          }
        }
        
        i {
          font-size: 12px;
          margin-right: 5px;
          color: #808080;
        }

        &:active { transform: scale(0.95); }
      }
    }

    p.description {
      font-weight: 500;
      color: #040405;
      margin-top: 30px;
    }

    div.accounts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 20px;
      
      ul {
        list-style: none;

        li {
          font-weight: 500;

          &:nth-of-type(1) {
            font-size: 14px;
            color: #879292;
          }

          &:nth-of-type(2) {
            display: flex;
            align-items: center;
            margin-top: 5px;

            div {
              display: flex;
              align-items: center;
              margin-right: 6px;
            
              &.img {
                width: 34px;
                height: 34px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50px;
              }
            }
          }
        }
      }
    } // div.accounts

    div.buy {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 20px;

      ul {
        list-style: none;

        li {

          &:nth-of-type(1) {
            font-size: 14px;
            font-weight: 500;
            color: #879292;
          }

          &:nth-of-type(2) {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 600;

            span {
              font-weight: 500;
              margin-left: 5px;
              font-size: 14px;
            }
          }
        }
      }
    } // div.buy

    div.list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 20px;

      ul {
        list-style: none;

        li {
          font-weight: 500;

          &:nth-of-type(1) {
            font-size: 14px;
            color: #879292;
          }

          &:nth-of-type(2) {

            span {
              font-size: 14px;
              color: #879292;
            }
          }
        }
      }
    } // div.list

    div.btn {
      display: flex;
      align-items: center;
      justify-content: center;
      // width: fit-content;
      margin: 0 auto;
      padding: 8px 14px;
      border-radius: 2px;
      background-color: #268ffc;
      color: #ffffff;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: 0.1s ease;
  
      i {
        font-size: 14px;
        margin-right: 8px;
  
        &.spinner {
          -webkit-animation: spin 1.5s linear infinite;
          -moz-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
        }
      }
  
      &:active { transform: scale(0.95); }
    }

    div.secondary {
      color: #1a7ae0;
      background-color: #268dfc3a;
    }

    div.disabledBTN {
      background-color: #dedede;
      color: #6c6e6f;
      cursor: not-allowed;
    }
  }
}

// Keyframes
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Media
@media screen and (max-width: 800px) {
  div.id {
    display: block;
    overflow: scroll;

    div.img {

      div {
        width: 100%;
        height: 380px;
        border-radius: 0;
      }
    }

    div.list {

      div.btn {
        margin: 0;
        margin-left: auto;
      }
    }
  }
}