@font-face {
  font-family: 'Cera Pro';
  font-weight: 400;
  src: url(/fonts/CeraProRegular.otf);
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 500;
  src: url(/fonts/CeraProMedium.otf);
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 600;
  src: url(/fonts/CeraProBold.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cera Pro';
  scroll-behavior: smooth;
}


html {
  background-color: #ECEFF5;
}

a {
  color: inherit;
  text-decoration: none;
}

div.layout {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
}

div.layout div.rightMenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
  /* width: calc(100% - 200px); */
}

@media screen and (max-width: 630px) {
  div.layout {
    display: block;
  }
}